.about-section{
    background-color: #ED932F;
    padding: 100px 0px;

    img{
        height: 120px;
    }
    h1{
        color: #fff;
        padding: 30px 0;
    }
    p{
        font-size: 24px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 40px;
    }
}